<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Контакты</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'booking_app/css/style.css' %}">
</head>
<body>
    <header>
        <nav class="navbar">
            <a href="{% url 'home' %}">Главная</a>
            <span class="logo">EventBooker</span>
            <a href="{% url 'profile' %}">Личный кабинет</a>
        </nav>
    </header>
    <div class="container">
        <h2>Контакты</h2>
        <p>Свяжитесь с нами по электронной почте: support@example.com</p>
        <p>Или по телефону: +123456789</p>
    </div>
</body>
</html>
