<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Список мероприятий</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'booking_app/css/style.css' %}">
</head>
<body>
    <header>
        <nav class="navbar">
            <a href="{% url 'home' %}">Главная</a>
            <span class="logo">EventBooker</span>
            <a href="{% if user.is_authenticated %}{% url 'profile' %}{% else %}{% url 'login' %}{% endif %}">Личный кабинет</a>
        </nav>
    </header>
    <!-- Список мероприятий -->
    <section class="all-events">
        <h2>Все мероприятия</h2>
        <div class="events-grid">
            {% for event in events %}
            <div class="event-card" style="width: 60%; background-color: #333; padding: 10px; margin: 20px auto;">
                <img src="{{ event.image.url }}" alt="{{ event.title }}" style="max-width: 200px; height: auto;">
                <p>{{ event.title }}</p>
                <small>{{ event.description|truncatewords:15 }}</small>
                <p><strong>Дата:</strong> {{ event.date }}</p>
                <p><strong>Место:</strong> {{ event.location }}</p>
                <a href="{% url 'event_detail' event.id %}" class="btn-register">Подробнее</a>
            </div>
            {% empty %}
            <p>Пока нет мероприятий.</p>
            {% endfor %}
        </div>
    </section>
</body>
</html>
